<div class="row">
    <div class="col s12 d-flex justify-content-between align-items-center">
        <h3>Tickets: OnProcess</h3>   
    </div>
    <table class="highlight">
        <thead>
          <tr>
              <th>Request ID</th>
              <th>Requested By</th>
              <th>Department</th>
              <th>Problem</th>
              <th>Local</th>
              <th>Type of Work</th>
              <th>Date</th>
          </tr>
        </thead>
        <tbody>
        {{#each tickets}}
            <tr>
                <td>{{requestId}}</td>
                <td>{{requestedBy}}</td>
                <td class="capitalize">{{department}}</td>
                <td>{{problem}}</td>
                <td>{{local}}</td>
                <td class="capitalize">{{typeOfWork}}</td>
                <td>{{formatDate date 'MMMM Do YYYY'}}</td>
            </tr>
        {{/each}}
        </tbody>
      </table>
</div>